.form-field {
  display: flex;
  flex-direction: column;
  gap: 4px; /* spacing between label and input */
}

.form-field ion-select,
.form-field ion-input {
  padding: 0.5rem;
  font-size: 1rem;
}

.error-text {
  color: red;
  font-size: 0.9em;
}
