/* Settings.css */

/* Customize Logout Button */
.logout-button {
    background-color: #4CAF50; /* Green background */
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease; /* Hover transition */
  }
  
  .logout-button:hover {
    background-color: #45a049; /* Slightly darker green */
    color: #ffffff; /* Ensure text stays white */
  }
  /* Settings.css */

/* Customize Logout Button */
.logout-button {
    background-color: #4CAF50; /* Green background */
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease; /* Hover transition */
  }
  
  .logout-button:hover {
    background-color: #45a049; /* Slightly darker green */
    color: #ffffff; /* Ensure text stays white */
  }
  
  /* Change Icon Color */
  .custom-icon {
    color: #006400; /* Dark green */
  }
.title-white {
  color: white;
}

.section-title {
  display: block;
  margin: 12px 0 8px;
  padding: 0 8px;
  font-weight: 700;
  color: #123524;
}
  
  
